@font-face { font-family:'scoreboard';	 src: url('scoreboard.ttf');}

body {
		background-color: #000;
		font-family: "scoreboard";
		//font-family: "Courier";
		
		margin: 4% 2% 4% 2%;
		letter-spacing: 2px;
	}
	
table, tr, td {
	font-family: "scoreboard";
    font-size:24px;
	font-weight:bold;
    color: #ff0;
	border : 0px solid #f00; 
    min-width : 125px;
    min-height: 50px;
    text-align: center;
    border : 1px solid #f00; 
    border-collapse: collapse;
}
