@font-face { font-family:'scoreboard';	 src: url('scoreboard.ttf');}
	
	body {
		background-color: #000;
		font-family: "scoreboard";
		margin: 4% 8% 4% 8%;
	}
	
	table.tableClass { 
			border-spacing: 0px; 
			border-collapse:collapse; #internal TDs have adjacent borders
			border: 1px solid #d9d9d9; 
			/* 
			background-color: 
			border-color:  
			*/
	}
	
	tr, th .headingClass { 
		border-collapse:collapse;
		border-style: none;
	}
	

	td {
		padding: 2px 2px 2px 2px;
		border: 1px solid #d9d9d9;
		border-collapse: collapse;
		font-size:14px;
	}
	.yellow {
		color: #0f0;
	}